In [1]:
import pandas as pd

# Dependencies
import requests

import time
import json

#Census api_key
from config import api_key

In [2]:
# df = df[1:]

In [3]:
api_base_route = "https://api.census.gov/data"
data_set_name_acs5 = "acs/acs5"
year_acs5 = 2021
variables_acs5 = "NAME,B19001_001E,B19001_014E,B19001_015E,B19001_016E,B19001_017E,\
B09002_001E,B09002_002E,B09002_005E,B09002_006E,B09002_007E,B09002_008E,B09002_009E,\
B09002_012E,B09002_013E,B09002_014E,B09002_015E,B09002_018E,B09002_019E,B09002_020E"
acs5_query_url = f"{api_base_route}/{year_acs5}/{data_set_name_acs5}?get={variables_acs5}&for=tract:*&in=state:06%20county:073&key={api_key}"
acs5_query_url

'https://api.census.gov/data/2021/acs/acs5?get=NAME,B19001_001E,B19001_014E,B19001_015E,B19001_016E,B19001_017E,B09002_001E,B09002_002E,B09002_005E,B09002_006E,B09002_007E,B09002_008E,B09002_009E,B09002_012E,B09002_013E,B09002_014E,B09002_015E,B09002_018E,B09002_019E,B09002_020E&for=tract:*&in=state:06%20county:073&key=1a63c0cea26c0b7e1515f363e7d0afe0b8c67ff8'

In [4]:
acs5_data_df = pd.read_json(acs5_query_url)
acs5_data_df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,NAME,B19001_001E,B19001_014E,B19001_015E,B19001_016E,B19001_017E,B09002_001E,B09002_002E,B09002_005E,B09002_006E,...,B09002_012E,B09002_013E,B09002_014E,B09002_015E,B09002_018E,B09002_019E,B09002_020E,state,county,tract
1,"Census Tract 1, San Diego County, California",1150,59,97,99,514,649,632,29,186,...,0,0,6,11,0,11,0,06,073,000100
2,"Census Tract 2.01, San Diego County, California",1187,48,76,188,236,368,295,31,85,...,0,47,9,17,0,0,0,06,073,000201
3,"Census Tract 2.02, San Diego County, California",2273,425,148,173,381,296,139,0,64,...,0,14,68,75,0,15,50,06,073,000202
4,"Census Tract 3.01, San Diego County, California",1339,146,169,26,216,147,147,0,50,...,0,0,0,0,0,0,0,06,073,000301

In [5]:
acs5_data_df = acs5_data_df[1:]
acs5_data_df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
1,"Census Tract 1, San Diego County, California",1150,59,97,99,514,649,632,29,186,...,0,0,6,11,0,11,0,06,073,000100
2,"Census Tract 2.01, San Diego County, California",1187,48,76,188,236,368,295,31,85,...,0,47,9,17,0,0,0,06,073,000201
3,"Census Tract 2.02, San Diego County, California",2273,425,148,173,381,296,139,0,64,...,0,14,68,75,0,15,50,06,073,000202
4,"Census Tract 3.01, San Diego County, California",1339,146,169,26,216,147,147,0,50,...,0,0,0,0,0,0,0,06,073,000301
5,"Census Tract 3.02, San Diego County, California",1625,145,47,154,311,107,37,0,13,...,0,0,0,70,0,0,0,06,073,000302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,"Census Tract 219, San Diego County, California",699,58,12,20,16,573,266,15,72,...,0,17,0,290,29,133,69,06,073,021900
734,"Census Tract 220, San Diego County, California",1601,116,89,8,11,812,498,44,132,...,21,21,38,183,11,85,65,06,073,022000
735,"Census Tract 221.01, San Diego County, California",889,35,54,91,322,545,545,26,160,...,0,0,0,0,0,0,0,06,073,022101
736,"Census Tract 221.02, San Diego County, California",2820,162,190,303,920,2357,1659,15,1042,...,10,55,10,623,0,399,210,06,073,022102
737,"Census Tract 9901, San Diego County, California",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,06,073,990100

In [6]:


acs5_data_df.set_axis(['Name',
                       'Household Income Total',
                       'Income 100000 to 124999',
                       'Income 125000 to 149999',
                       'Income 150000 to 199999',
                       'Income 200000 or more',
                       'Total Children Under 18y','Total Children Under 18 in Married',
                       'Total 5y','Total 6 to 11y','Total 12 to 17y', 
                       'Total Children in Other Families',
                       'Total Children Under 18 w/Male Housholder',
                       'Total 5y w/Male Housholder',
                       'Total 6 to 11y w/Male Housholder',
                       'Total 12 to 17y w/Male Housholder', 
                        'Total Children Under 18 w/Female Housholder',
                       'Total 5y w/Female Housholder',
                       'Total 6 to 11y w/Female Housholder',
                       'Total 12 to 17y w/Female Housholder',
                       'State','County','Tract'],axis=1, inplace= True)

In [7]:
acs5_data_df.head(50)

,Name,Household Income Total,Income 100000 to 124999,Income 125000 to 149999,Income 150000 to 199999,Income 200000 or more,Total Children Under 18y,Total Children Under 18 in Married,Total 5y,Total 6 to 11y,...,Total 5y w/Male Housholder,Total 6 to 11y w/Male Housholder,Total 12 to 17y w/Male Housholder,Total Children Under 18 w/Female Housholder,Total 5y w/Female Housholder,Total 6 to 11y w/Female Housholder,Total 12 to 17y w/Female Housholder,State,County,Tract
1,"Census Tract 1, San Diego County, California",1150,59,97,99,514,649,632,29,186,...,0,0,6,11,0,11,0,06,073,000100
2,"Census Tract 2.01, San Diego County, California",1187,48,76,188,236,368,295,31,85,...,0,47,9,17,0,0,0,06,073,000201
3,"Census Tract 2.02, San Diego County, California",2273,425,148,173,381,296,139,0,64,...,0,14,68,75,0,15,50,06,073,000202
4,"Census Tract 3.01, San Diego County, California",1339,146,169,26,216,147,147,0,50,...,0,0,0,0,0,0,0,06,073,000301
5,"Census Tract 3.02, San Diego County, California",1625,145,47,154,311,107,37,0,13,...,0,0,0,70,0,0,0,06,073,000302
6,"Census Tract 4, San Diego County, California",2197,109,202,185,206,21,21,0,0,...,0,0,0,0,0,0,0,06,073,000400
7,"Census Tract 5, San Diego County, California",1602,157,180,150,290,340,285,31,51,...,0,0,0,55,0,0,55,06,073,000500
8,"Census Tract 6, San Diego County, California",1780,288,61,217,220,267,267,27,42,...,0,0,0,0,0,0,0,06,073,000600
9,"Census Tract 7, San Diego County, California",2507,401,389,248,118,348,220,63,20,...,0,0,0,128,0,22,46,06,073,000700
10,"Census Tract 8, San Diego County, California",2728,295,254,312,204,510,365,28,72,...,0,42,0,77,0,77,0,06,073,000800
11,"Census Tract 9.01, San Diego County, California",1863,225,203,232,86,153,137,0,0,...,0,16,0,0,0,0,0,06,073,000901
12,"Census Tract 9.02, San Diego County, California",1457,144,23,170,14,113,33,0,33,...,0,0,41,39,0,0,0,06,073,000902
13,"Census Tract 10, San Diego County, California",2343,213,225,126,186,511,375,19,128,...,0,0,0,136,0,48,12,06,073,001000
14,"Census Tract 11, San Diego County, California",1679,243,150,155,91,297,212,0,3,...,0,6,22,57,0,0,20,06,073,001100
15,"Census Tract 12.01, San Diego County, California",1251,137,98,232,30,380,315,12,87,...,0,0,0,65,0,23,42,06,073,001201
16,"Census Tract 12.02, San Diego County, California",1708,157,266,71,128,162,98,0,33,...,0,0,0,64,34,11,19,06,073,001202
17,"Census Tract 13.01, San Diego County, California",1530,196,161,105,199,240,124,38,19,...,0,5,0,111,0,0,62,06,073,001301
18,"Census Tract 13.02, San Diego County, California",2039,110,187,386,40,99,0,0,0,...,0,0,0,99,0,0,99,06,073,001302
19,"Census Tract 14, San Diego County, California",1860,261,67,120,225,365,300,8,86,...,0,0,15,50,0,17,14,06,073,001400
20,"Census Tract 15, San Diego County, California",2000,171,268,226,258,341,247,11,25,...,0,0,0,94,6,45,24,06,073,001500
21,"Census Tract 16, San Diego County, California",2443,269,93,47,25,998,600,38,270,...,0,28,0,322,0,185,88,06,073,001600
22,"Census Tract 17, San Diego County, California",2401,440,101,175,119,580,352,0,56,...,0,0,69,126,0,41,85,06,073,001700
23,"Census Tract 18.01, San Diego County, California",878,158,80,19,9,336,100,0,33,...,0,0,0,167,0,75,92,06,073,001801
24,"Census Tract 18.02, San Diego County, California",1732,126,52,133,70,136,80,9,48,...,0,0,0,56,16,29,11,06,073,001802
25,"Census Tract 19, San Diego County, California",1443,157,135,212,284,246,246,33,39,...,0,0,0,0,0,0,0,06,073,001900
26,"Census Tract 20.01, San Diego County, California",1392,98,101,232,603,401,380,11,86,...,0,0,7,14,0,0,14,06,073,002001
27,"Census Tract 20.02, San Diego County, California",1120,104,156,232,241,375,242,4,43,...,0,18,42,73,0,0,0,06,073,002002
28,"Census Tract 21, San Diego County, California",2443,315,257,328,133,535,291,5,58,...,0,0,71,154,0,46,108,06,073,002100
29,"Census Tract 22.01, San Diego County, California",1386,88,23,0,46,722,463,52,214,...,0,0,0,250,0,129,74,06,073,002201
30,"Census Tract 22.02, San Diego County, California",1698,60,34,40,33,1303,650,24,214,...,0,119,0,438,25,169,120,06,073,002202
31,"Census Tract 23.01, San Diego County, California",1335,82,78,110,66,502,337,0,131,...,31,0,0,134,0,68,0,06,073,002301
32,"Census Tract 23.02, San Diego County, California",2117,41,50,264,0,954,609,47,244,...,0,0,0,345,0,159,14,06,073,002302
33,"Census Tract 24.01, San Diego County, California",1668,67,132,135,85,1081,553,42,218,...,0,0,28,483,0,71,374,06,073,002401
34,"Census Tract 24.02, San Diego County, California",1696,135,30,16,8,1040,799,52,273,...,0,0,0,241,0,114,76,06,073,002402
35,"Census Tract 25.01, San Diego County, California",1457,144,59,85,45,930,448,36,163,...,0,0,23,459,38,245,86,06,073,002501
36,"Census Tract 25.02, San Diego County, California",2341,301,221,172,128,1617,825,15,316,...,0,79,34,610,35,234,250,06,073,002502
37,"Census Tract 26.01, San Diego County, California",1488,101,42,39,0,1355,745,37,259,...,0,0,82,528,30,175,167,06,073,002601
38,"Census Tract 26.02, San Diego County, California",1379,125,37,47,22,1179,608,20,175,...,0,45,25,486,25,168,152,06,073,002602
39,"Census Tract 27.02, San Diego County, California",1910,182,209,139,192,1229,1038,0,455,...,0,2,0,179,0,106,58,06,073,002702
40,"Census Tract 27.03, San Diego County, California",2240,295,210,180,188,877,624,15,201,...,0,19,0,215,0,14,201,06,073,002703
41,"Census Tract 27.05, San Diego County, California",1488,89,51,72,20,559,374,13,138,...,0,0,26,159,0,25,134,06,073,002705
42,"Census Tract 27.07, San Diego County, California",1515,260,34,6,25,1265,1076,30,346,...,13,19,0,157,0,40,110,06,073,002707
43,"Census Tract 27.08, San Diego County, California",1883,80,0,0,12,1325,583,35,147,...,13,71,17,588,60,220,203,06,073,002708
44,"Census Tract 27.09, San Diego County, California",1196,81,29,29,4,1300,437,28,189,...,0,0,0,863,0,415,354,06,073,002709
45,"Census Tract 27.10, San Diego County, California",1148,142,30,30,39,878,619,54,339,...,0,12,19,216,0,54,119,06,073,002710
46,"Census Tract 27.11, San Diego County, California",969,92,47,57,35,875,663,38,237,...,0,19,0,193,0,91,60,06,073,002711
47,"Census Tract 27.12, San Diego County, California",1781,166,87,98,74,1126,780,49,318,...,0,0,16,325,79,71,112,06,073,002712
48,"Census Tract 28.01, San Diego County, California",664,60,19,49,77,172,114,8,69,...,0,15,16,9,0,0,9,06,073,002801
49,"Census Tract 28.03, San Diego County, California",2230,153,183,72,240,436,318,64,129,...,0,0,19,77,0,22,19,06,073,002803
50,"Census Tract 28.04, San Diego County, California",1489,153,68,170,193,480,369,25,161,...,0,0,0,111,29,70,0,06,073,002804

In [8]:
acs5_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737 entries, 1 to 737
Data columns (total 23 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Name                                         737 non-null    object
 1   Household Income Total                       737 non-null    object
 2   Income 100000 to 124999                      737 non-null    object
 3   Income 125000 to 149999                      737 non-null    object
 4   Income 150000 to 199999                      737 non-null    object
 5   Income 200000 or more                        737 non-null    object
 6   Total Children Under 18y                     737 non-null    object
 7   Total Children Under 18 in Married           737 non-null    object
 8   Total 5y                                     737 non-null    object
 9   Total 6 to 11y                               737 non-null    object
 10  Total 12 to 17y                              737 non-null    object
 11  Total Children in Other Families             737 non-null    object
 12  Total Children Under 18 w/Male Housholder    737 non-null    object
 13  Total 5y w/Male Housholder                   737 non-null    object
 14  Total 6 to 11y w/Male Housholder             737 non-null    object
 15  Total 12 to 17y w/Male Housholder            737 non-null    object
 16  Total Children Under 18 w/Female Housholder  737 non-null    object
 17  Total 5y w/Female Housholder                 737 non-null    object
 18  Total 6 to 11y w/Female Housholder           737 non-null    object
 19  Total 12 to 17y w/Female Housholder          737 non-null    object
 20  State                                        737 non-null    object
 21  County                                       737 non-null    object
 22  Tract                                        737 non-null    object
dtypes: object(23)
memory usage: 132.6+ KB

In [9]:
# Get row count
len(acs5_data_df)

737

In [12]:
acs5_data_df.Tract.nunique()

737

In [10]:
acs5_data_df['Name']=acs5_data_df['Name'].str.replace(',',';')
acs5_data_df

,Name,Household Income Total,Income 100000 to 124999,Income 125000 to 149999,Income 150000 to 199999,Income 200000 or more,Total Children Under 18y,Total Children Under 18 in Married,Total 5y,Total 6 to 11y,...,Total 5y w/Male Housholder,Total 6 to 11y w/Male Housholder,Total 12 to 17y w/Male Housholder,Total Children Under 18 w/Female Housholder,Total 5y w/Female Housholder,Total 6 to 11y w/Female Housholder,Total 12 to 17y w/Female Housholder,State,County,Tract
1,Census Tract 1; San Diego County; California,1150,59,97,99,514,649,632,29,186,...,0,0,6,11,0,11,0,06,073,000100
2,Census Tract 2.01; San Diego County; California,1187,48,76,188,236,368,295,31,85,...,0,47,9,17,0,0,0,06,073,000201
3,Census Tract 2.02; San Diego County; California,2273,425,148,173,381,296,139,0,64,...,0,14,68,75,0,15,50,06,073,000202
4,Census Tract 3.01; San Diego County; California,1339,146,169,26,216,147,147,0,50,...,0,0,0,0,0,0,0,06,073,000301
5,Census Tract 3.02; San Diego County; California,1625,145,47,154,311,107,37,0,13,...,0,0,0,70,0,0,0,06,073,000302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,Census Tract 219; San Diego County; California,699,58,12,20,16,573,266,15,72,...,0,17,0,290,29,133,69,06,073,021900
734,Census Tract 220; San Diego County; California,1601,116,89,8,11,812,498,44,132,...,21,21,38,183,11,85,65,06,073,022000
735,Census Tract 221.01; San Diego County; California,889,35,54,91,322,545,545,26,160,...,0,0,0,0,0,0,0,06,073,022101
736,Census Tract 221.02; San Diego County; California,2820,162,190,303,920,2357,1659,15,1042,...,10,55,10,623,0,399,210,06,073,022102
737,Census Tract 9901; San Diego County; California,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,06,073,990100

In [11]:
acs5_data_df.to_csv('asc5_demografics_socioeconomic_tract.csv', index = False)